the_great_fleece/Assets/The[[:space:]]Great[[:space:]]Fleece/Game/_scenes/Learning/Environment_Finished/LightingData.asset
 filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
